.container {
    width: 60%;
    margin: auto;

    textarea {
        width: 100%;
        height: 100px;
        background-color: #303030;
        border: 1px solid #fed148;
        outline: none;
        color: #dddddd;
        padding: 10px;
        font-size: 1rem;
        font-family: inherit;
        border-radius: 8px;
    }

    input {
        border-radius: 8px;
        background-color: #303030;
        width: 60px;
        height: 30px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        color: #9b9b9b;
        float: right;
        cursor: pointer;
    }
}

@media screen and (max-width: 1256px) {
    .container {
        width: 100%;
    }
}