.header {
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
        color: #FED148;
    }

    .btn {
        position: absolute;
        top: 6%;
        right: 5%;
        cursor: pointer;
        border: 1px solid #FED148;
        border-radius: 8px;
        padding: 10px;
        &:hover {
            color: #363636;
            background-color: #FED148;
        }
    }

    .email {
        margin-bottom: 20px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #363636;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
        overflow: hidden;
        animation: fadeIn 1s;
    }

    .menutitle {
        color: #FED148;
        font-size: 1.5rem;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .burger {
        background-color: transparent;
        border: none;
        z-index: 3;
        svg {
            color: #FED148;
            position: absolute;
            top: 6%;
            left: 2%;
        }
    }

    .burger2 {
        background-color: transparent;
            border: none;
            z-index: 3;
        
            svg {
                color: #FED148;
                position: absolute;
                top: 6%;
                left: 2%;
            }
    }

    .link {
        font-size: 1.25rem;
        &:hover {
            color: #FED148;
            cursor: pointer;
        }
    }

    h1 {
        cursor: pointer;
    }

    svg {
        margin-right: 12px;
        height: 40px;
        width: 32px;
        cursor: pointer;
    }

    h2 {
        margin-left: 12px;
        font-size: 32px;
        color: #dddddd;
        cursor: pointer;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}